#tabs{
    border: 1px solid black;
    .selectors{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .selector{
        cursor: pointer;
        padding: 10px;
    }
    .selected{
        --radius: 40px;
        font-weight: bold;
        text-decoration: underline;
        color: #b318f0;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .tab_content{
        border: 1px solid black;
        padding: 20px;
    }
}